@import url("https://fonts.googleapis.com/css?family=Nunito");
img {
  max-width: 100%; }

.btn, input {
  font-size: 1.6rem; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

header.header {
  padding: 10px;
  background-color: white; }
  header.header .header__logo {
    width: 140px; }
  @media (max-width: 767px) {
    header.header {
      text-align: center; } }

.form__container {
  background: white;
  margin: 50px auto;
  max-width: 550px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 45px 15px rgba(0, 0, 0, 0.2); }
  .form__container .form__heading {
    margin: 0 0 50px 0;
    font-size: 3.5rem; }
    @media (max-width: 767px) {
      .form__container .form__heading {
        font-size: 3rem; } }
  .form__container .form-group {
    margin-bottom: 20px; }
  @media (max-width: 590px) {
    .form__container {
      margin: 20px;
      padding: 20px; } }

input.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none !important;
  outline: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 1.6rem;
  background: transparent;
  padding-left: 0; }

select.form-control {
  box-shadow: none !important;
  outline: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 1.6rem;
  background: transparent;
  text-indent: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/arrow-down-sign-to-navigate.svg");
  background-position: 100% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 0;
  text-indent: 0; }

.input-group-addon {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc; }

.form-links {
  text-align: center; }
  .form-links strong {
    margin-right: 5px; }
  .form-links__register {
    margin-bottom: 5px; }
  .form-links__login {
    margin-bottom: 5px; }
  .form-links__account {
    margin-bottom: 5px; }

.forgot-password-link {
  font-size: 1.2rem;
  text-align: right;
  display: block;
  margin: 5px 0 10px 0; }

footer {
  color: #fff;
  font-size: 1rem; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  background-color: #0f015e;
  background: radial-gradient(at 50% 60%, rgba(123, 22, 255, 0.75), #0f015e) no-repeat center center fixed; }

a {
  color: #DF5546; }

header.header {
  padding: 10px;
  background-color: white; }
  header.header .header__logo {
    width: 140px; }
  @media (max-width: 767px) {
    header.header {
      text-align: center; } }

.signin-area {
  background-color: white;
  padding: 60px 50px;
  margin: 100px auto;
  max-width: 1024px; }
  @media (max-width: 1064px) {
    .signin-area {
      padding: 20px 5px;
      margin: 20px 20px 10px 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      height: calc(100vh - 90px);
      min-height: 550px; } }

.form {
  margin: 0 0 50px 0; }
  .form__heading {
    font-size: 3.5rem;
    margin: 0 0 5px 0; }
  .form__sub-heading {
    margin: 0 0 50px 0;
    color: #929497;
    display: block; }
  .form .btn-submit {
    border-radius: 20px;
    width: 200px;
    color: white;
    border: 2px solid #DF5546;
    background-color: #DF5546;
    transition: background-color 0.2s;
    display: block;
    margin: 30px auto 0; }
    .form .btn-submit:hover {
      background-color: white;
      color: #DF5546; }
